body {
	background: #232323;

	h1 {
		color: white;
	}

	.selected {
		background: blue;
	}

	#stripe {
		height:	30px;
		background-color: white;
		text-align: center;
		color: black;
	}

	#container {
		max-width: 600px;
		margin: 0 auto;

		.square {
			width: 30%;
			float: left;
			background-color: purple;
			margin: 1.66%;
			padding-bottom: 30%;
		}
	}
}